*{
	margin: 0;
	padding: 0;
}

header{
	}

.navbar{
	background-color: #f0f8ff;
	overflow: hidden;
}


.logo{
	margin-left:2px;
	padding: 4px 6px;
}

.navbar a{
	margin-right: 20px;
	float: right;
	color: black;
	text-align: center;
	padding: 14px 6px;
	text-decoration: none;
	font-size: 17px;
}
.dropdown{
	float: right;
	overflow: hidden;
}

.dropdown .dropbtn{
	margin-right: 10px;
	font-size: 16px;
	border: none;
	outline: none;
	color: black;
	padding: 14px 5px;
	background-color: inherit;

}
.navbar a:hover, .dropdown:hover .dropbtn{
	background-color: transparent;

}

.dropdown-content{
	display: none;
	position: absolute;
	background-color: transparent;
	min-width: 100px;
	float: left;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/*.dropdown-content text{

  float: none;
  color: black;
  margin-top: 20px;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
*/
input[type=text] {
	width: 80%;
	border: 2px solid #aaa;
	border-radius: 4px;
	margin: 2px 0;
	outline: none;
	padding: 2px;
	box-sizing: border-box;
	border-color: dodgerblue;
	box-shadow: 0 0 8px 0 dodgerblue;
}


.dropdown-content button{

	size: 4px;
	font-size: 1px;
	text-align: center;
	font-family: Times New Roman;
	border-radius: 6px;
}

.dropdown-content a:hover {
  background-color: #blue;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.main{
	background-color: #f0f8ff;
}
.main img{
	height: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;

}

.main1{
	background-color: #f0f8ff;
}
.outerbox{
	width: 600px;
	overflow: hidden;
	background-color: #f0f8ff;
	margin-left: auto;
	margin-right: auto;
	border: 6px solid black;
}

.slider {
	position: relative;
	width: 2400px;
	animation-name: Jamal;
	animation-duration: 20s;
	animation-iteration-count: infinite;
}
.slider img{
	float: left;
	/*
	height: 40%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30%; */
	
}

@keyframes Jamal{
	0%{
		left: 0px;
	}
	20%{
		left: 0px;
	}

	25%{
		left: -600px;
	}
	45%{
		left: -600px;
	}
	50%{
		left: -1200px;
	}
	70%{
		left: -1200px;
	}
	75%{
		left: -1800px;
	}
	95%{
		left: -1800px;
	}
	100%{
		left: -2400px;
	}
}

