*{
	margin: 0;
	padding: 0;
}


  body {
    font-family: Arial, Helvetica, sans-serif;
  }


  .navbar{
    background-color: #f0f8ff;
    overflow: hidden;
  }
  
  
  .logo{
    margin-left:2px;
    padding: 4px 6px;
  }

  
  .navbar a{
    margin-right: 20px;
    float: right;
    color:rgba(76, 56, 112, 0.822);
    text-align: center;
    padding: 14px 6px;
    text-decoration: none;
    text-transform: uppercase;  
    font-size: 17px;
  }
  .navbar a:hover{
    background-color: black;
  
  }
  
  


      .dropbtn {
        background-color:transparent;
        color:#333;
        padding: 15px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        padding-right: 17px;
          
        padding-left: 12px ;
      }
      
      .dropbtn:hover, .dropbtn:focus {
        background-color: black;
        
      }
      
      .dropdown {
        overflow: hidden;
        float: right;
     
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #cacaca;
        min-width: 100px;
        overflow: auto;
        
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      .dropdown-content a {
        float: none;
        color: black;
        padding: 8px 12 px;
        text-decoration: none;
        display: block;
        text-align: left;
      }
      
      .dropdown a:hover {background-color: #ddd;
     }
      
      .show {display: block;}


      /* Style all font awesome icons */

      .fa {
        
        font-size: 17px;
        width: 18px;
        text-align: center;
        text-decoration: none;
      }
      
      /* Add a hover effect if you want */

      
      /* Set a specific color for each brand */
      
      /* Facebook */
      .fa-facebook {
        background: #3B5998;
        color: white;
      }
      
      /* Twitter */
      .fa-twitter {
        background: #55ACEE;
        color: white;
      }
      .fa-instagram {
        background: rgb(233, 41, 175);
        color: white;
      }


      nav {
        width: 80%;
        margin: 0 auto;
        background:transparent;
        padding: 4px 0;
        float: right;
        box-shadow: 0px 5px 0px #dedede;
      }
      nav ul {
        list-style: none;
        text-align: right;
      }
      nav ul li {
        display: inline-block;
       
      }
      nav ul li a {
        display: block;
        padding: 12px;
        text-decoration: none;
        color: #aaa;
        font-weight: 80;
        float :right;
        text-transform: uppercase;
        margin: 0 10px;
      }
      nav ul li a,
      nav ul li a:after,
      nav ul li a:before,.dropbtn:hover{
        transition: all .5s;
      }
      nav ul li a:hover ,.dropbtn:hover{
        color: #white;
      }

      
      nav.fill ul li a,.dropbtn:hover {
        transition: all 1s;
      }
      
      nav.fill ul li a:after ,.dropbtn:hover{
        text-align: left;
      
        margin: 0;
        opacity: 0;
      }
      nav.fill ul li a:hover,.dropbtn:hover {
        color: rgb(230, 62, 62);
        z-index: 1;
      }
      nav.fill ul li a:hover:after,.dropbtn:hover {
        z-index: -10;
        animation: fill 1s forwards;
        -webkit-animation: fill 1s forwards;
        -moz-animation: fill 1s forwards;
        opacity: 1;
      }



















body{
    margin: 0%;
  	background: url("../image/bgimage.jpg");
    background-repeat: repeat;
    background-color: #ffffff;

}

.heading{
	font-family: Times New Roman;
	font-size: 40px;
	margin-top: 20px;
	margin-left: 36%;
	text-decoration: underline;
}


.logo h2{
	background-color: #f0f8ff;
	overflow: hidden;
	margin-left:2px;
	padding: 4px 6px;
}

.box{
	border-color: black;
	border: solid black;

}

.form{

	border-radius: 1px;
	display: block;
	margin-left: 20%;
	width: 60%;

}

h1{
	margin-left: 30%;
	font-family: Times New Roman;
	font-size: 30px;
	margin-left: 36%;
	margin-top: 20px;

}

h1 a{

	text-decoration: none;
	color: blue;
	font-family: Times New Roman;
	font-size: 30px;
	margin-left:10px;
	margin-top: 20px;
}

.lab,.upload
{

	font-family: Times New Roman;
	font-size: 30px;	
	margin-top: 20px;

}

input[type="file"]{
	cursor: inherit;
    display: block;
    font-size: 20px;
    background-color: transparent;
    text-align: center;
  
}

.list ,input[type="text"],input[type="email"],input[type="phone"],input[type="password"],input[type="number"],input[type="date"],input[type="tel"]{

	border-bottom-color: black;
	border-top: transparent;
	border-left: transparent;
	border-right: transparent;
	border-radius: 1px;
	display: inline;
	text-align: left;
	background: transparent;
	height: 30px;
	box-sizing: 20%;
	width: 50%;
	margin-top: 10px;
	margin-right: 10px;
	color: black;
	font-size: 20px;

	
}
.date_list{
	border: solid black;
	border-radius: 1px;
	display: inline;
	text-align: left;
	background: transparent;
	height: 30px;
	box-sizing: 20%;
	width: 10%;
	margin-top: 10px;
	margin-right: 10px;
	color: black;
	font-size: 20px;

}

/*
.list:active ,input[type="text"]:active,input[type="email"]:active,input[type="phone"]:active,input[type="password"]:active,input[type="number"]:active,input[type="date"]:active,input[type="tel"]:active{

	border-bottom-color: #f0f8ff;
	border-top: transparent;
	border-left: transparent;
	border-right: transparent;
	border-radius: 1px;
	display: inline;
	text-align: center;
	background: transparent;
	height: 30px;
	box-sizing: 20%;
	width: 50%;
	margin-top: 10px;
	margin-right: 10px;

}*/

::placeholder{

	color:black;
	font-size: 20px;	

}
.list option:hover{
	border: 3px ;
	border-color: blue;
	border-radius: 20px;
	display: block;
	text-align: center;
	height: 30px;
	box-sizing: 20%;
	width: 20%;
	margin-left: 10px;
	margin-top: 10px;
}

span{
	margin-left: 2%;
}

textarea{
	overflow: hidden;
	border-bottom: solid black;
	border-top: solid black;
	border-left: solid black;
	border-right: solid black;
	border-radius: 1px;
	display: inline;
	text-align: center;
	background: transparent;
	height: 30px;
	box-sizing: 20%;
	width: 50%;
	margin-top: 10px;
	margin-right: 10px;
	font-size: 20px;
	

}

textarea:hover{
	overflow: hidden;
	border-bottom-color: black;
	border-top-color: black;
	border-left-color: black;
	border-right-color: black;
	border-radius: 21px;
	display: inline;
	text-align: center;
	background: transparent;
	height: 2%;
	box-sizing: 20%;
	width: 50%;
	margin-top: 10px;
	margin-right: 10px;
}

.terms {
	margin-top: 20px;
	margin-left: 35%;
}


input[type="checkbox"]{
	margin-left: 30%;
}

span a {
	text-decoration: none;
	color: blue;
	font-family: Times New Roman;
	font-size: 20px;
	margin-top: 20px;
}

.submit {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px; 
	border-color: black;
	margin-left: 45%;
	size: 90px;
	font-size: 20px;
	font-family: Times New Roman;
	border-radius: 6px;

}

.submit a{
	text-decoration: none;
	color: black;
}
.submit:hover ,input[type="submit"]:hover{
    border-color: #5baaaf;
    background-color: rgb(7, 105, 138);
    color: white;
}

input[type="submit"]{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px; 
	border-color: black;
	margin-left: 45%;
	size: 90px;
	font-size: 20px;
	font-family: Times New Roman;
	border-radius: 6px;
}

























@media screen and (max-width:1260px){


.fill{
        width: 100%;
  }


.navbar{
    margin-top: 10px;
    background-color: #f0f8ff;
    overflow: hidden;
  }
  
  
  .logo{
    margin-left:2px;
    padding: 4px 6px;
  }
  
  .navbar a{
    margin-right: 2px;
    float: right;
    color:rgba(76, 56, 112, 0.822);
    text-align: center;
    padding: 14px 13px;
    text-decoration: none;
    font-size: 18px;
  }

  .navbar a:hover{
    background-color:black;
  }



body{
    margin: 0%;
    background: url("../image/bgimage.jpg");
    background-repeat: repeat;
    background-color: #ffffff;

}

.heading{
  font-family: Times New Roman;
  font-size: 40px;
  margin-top: 20px;
  margin-left: 36%;
  text-decoration: underline;
}


.logo h2{
  background-color: #f0f8ff;
  overflow: hidden;
  margin-left:2px;
  padding: 4px 6px;
}

.box{
  border-color: black;
  border: solid black;

}

.form{

  border-radius: 1px;
  display: block;
  margin-left: 20%;
  width: 60%;

}

h1{
  margin-left: 30%;
  font-family: Times New Roman;
  font-size: 30px;
  margin-left: 36%;
  margin-top: 20px;

}

h1 a{

  text-decoration: none;
  color: blue;
  font-family: Times New Roman;
  font-size: 30px;
  margin-left:10px;
  margin-top: 20px;
}

.lab,.upload
{

  font-family: Times New Roman;
  font-size: 30px;  
  margin-top: 20px;

}

input[type="file"]{
  cursor: inherit;
    display: block;
    font-size: 20px;
    background-color: transparent;
    text-align: center;
  
}

.list ,input[type="text"],input[type="email"],input[type="phone"],input[type="password"],input[type="number"],input[type="date"],input[type="tel"]{

  border-bottom-color: black;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-radius: 1px;
  display: inline;
  text-align: left;
  background: transparent;
  height: 30px;
  box-sizing: 20%;
  width: 50%;
  margin-top: 10px;
  margin-right: 10px;
  color: black;
  font-size: 20px;

  
}
.date_list{
  border: solid black;
  border-radius: 1px;
  display: inline;
  text-align: left;
  background: transparent;
  height: 30px;
  box-sizing: 20%;
  width: 10%;
  margin-top: 10px;
  margin-right: 10px;
  color: black;
  font-size: 20px;

}

/*
.list:active ,input[type="text"]:active,input[type="email"]:active,input[type="phone"]:active,input[type="password"]:active,input[type="number"]:active,input[type="date"]:active,input[type="tel"]:active{

  border-bottom-color: #f0f8ff;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-radius: 1px;
  display: inline;
  text-align: center;
  background: transparent;
  height: 30px;
  box-sizing: 20%;
  width: 50%;
  margin-top: 10px;
  margin-right: 10px;

}*/

::placeholder{

  color:black;
  font-size: 20px;  

}
.list option:hover{
  border: 3px ;
  border-color: blue;
  border-radius: 20px;
  display: block;
  text-align: center;
  height: 30px;
  box-sizing: 20%;
  width: 20%;
  margin-left: 10px;
  margin-top: 10px;
}

span{
  margin-left: 2%;
}

textarea{
  overflow: hidden;
  border-bottom: solid black;
  border-top: solid black;
  border-left: solid black;
  border-right: solid black;
  border-radius: 1px;
  display: inline;
  text-align: center;
  background: transparent;
  height: 30px;
  box-sizing: 20%;
  width: 50%;
  margin-top: 10px;
  margin-right: 10px;
  font-size: 20px;
  

}

textarea:hover{
  overflow: hidden;
  border-bottom-color: black;
  border-top-color: black;
  border-left-color: black;
  border-right-color: black;
  border-radius: 21px;
  display: inline;
  text-align: center;
  background: transparent;
  height: 2%;
  box-sizing: 20%;
  width: 50%;
  margin-top: 10px;
  margin-right: 10px;
}

.terms {
  margin-top: 20px;
  margin-left: 35%;
}


input[type="checkbox"]{
  margin-left: 30%;
}

span a {
  text-decoration: none;
  color: blue;
  font-family: Times New Roman;
  font-size: 20px;
  margin-top: 20px;
}

.submit {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px; 
  border-color: black;
  margin-left: 45%;
  size: 90px;
  font-size: 20px;
  font-family: Times New Roman;
  border-radius: 6px;

}

.submit a{
  text-decoration: none;
  color: black;
}
.submit:hover ,input[type="submit"]:hover{
    border-color: #5baaaf;
    background-color: rgb(7, 105, 138);
    color: white;
}

input[type="submit"]{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px; 
  border-color: black;
  margin-left: 45%;
  size: 90px;
  font-size: 20px;
  font-family: Times New Roman;
  border-radius: 6px;
}


}
























































@media screen and (max-width:640px){

.fill{
        width: 100%;
  }


.navbar{
    background-color: #f0f8ff;
    overflow: hidden;
  }
  
  
  .logo{
    margin-left:2px;
    padding: 4px 6px;
  }
  
  .navbar a{
    margin-right: 2px;
    float: right;
    color:rgba(76, 56, 112, 0.822);
    text-align: center;
    padding: 4px 3px;
    text-decoration: none;
    font-size: 13px;
  }

  .navbar a:hover{
    background-color:black;
  }









.heading{
  font-family: Times New Roman;
  font-size: 30px;
  margin-top: 20px;
  margin-left: 25%;
  text-decoration: underline;
}


.logo h2{
  background-color: #f0f8ff;
  overflow: hidden;
  margin-left:2px;
  padding: 4px 6px;
}

.box{
  border-color: black;
  border: solid black;

}

.form{

  border-radius: 1px;
  display: block;
  margin-left: 5%;
  width: 90%;

}

h1{
  margin-left: 30%;
  font-family: Times New Roman;
  font-size: 20px;
  margin-left: 20%;
  margin-top: 20px;

}

h1 a{

  text-decoration: none;
  color: blue;
  font-family: Times New Roman;
  font-size: 20px;
  margin-left:10px;
  margin-top: 20px;
}

.lab,.upload
{

  font-family: Times New Roman;
  font-size: 20px;  
  margin-top: 20px;

}

input[type="file"]{
  cursor: inherit;
    display: block;
    font-size: 15px;
    background-color: transparent;
    text-align: center;
  
}

.list ,input[type="text"],input[type="email"],input[type="phone"],input[type="password"],input[type="number"],input[type="date"],input[type="tel"]{

  border-bottom-color: black;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-radius: 1px;
  display: inline;
  text-align: left;
  background: transparent;
  height: 30px;
  box-sizing: 20%;
  width: 50%;
  margin-top: 10px;
  margin-right: 10px;
  color: black;
  font-size: 20px;

  
}
.date_list{
  border: solid black;
  border-radius: 1px;
  display: inline;
  text-align: left;
  background: transparent;
  height: 30px;
  box-sizing: 20%;
  width: 16%;
  margin-top: 10px;
  margin-right: 10px;
  color: black;
  font-size: 17px;

}

/*
.list:active ,input[type="text"]:active,input[type="email"]:active,input[type="phone"]:active,input[type="password"]:active,input[type="number"]:active,input[type="date"]:active,input[type="tel"]:active{

  border-bottom-color: #f0f8ff;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-radius: 1px;
  display: inline;
  text-align: center;
  background: transparent;
  height: 30px;
  box-sizing: 20%;
  width: 50%;
  margin-top: 10px;
  margin-right: 10px;

}*/

::placeholder{

  color:black;
  font-size: 15px;  

}
.list option:hover{
  border: 3px ;
  border-color: blue;
  border-radius: 20px;
  display: block;
  text-align: center;
  height: 30px;
  box-sizing: 20%;
  width: 20%;
  margin-left: 10px;
  margin-top: 10px;
}

span{
  margin-left: 2%;
}

textarea{
  overflow: hidden;
  border-bottom: solid black;
  border-top: solid black;
  border-left: solid black;
  border-right: solid black;
  border-radius: 1px;
  display: inline;
  text-align: center;
  background: transparent;
  height: 30px;
  box-sizing: 20%;
  width: 50%;
  margin-top: 10px;
  margin-right: 10px;
  font-size: 20px;
  

}

textarea:hover{
  overflow: hidden;
  border-bottom-color: black;
  border-top-color: black;
  border-left-color: black;
  border-right-color: black;
  border-radius: 21px;
  display: inline;
  text-align: center;
  background: transparent;
  height: 2%;
  box-sizing: 20%;
  width: 50%;
  margin-top: 10px;
  margin-right: 10px;
}

.terms {
  margin-top: 20px;
  margin-left: 35%;
}


input[type="checkbox"]{
  margin-left: 20%;
}

span a {
  text-decoration: none;
  color: blue;
  font-family: Times New Roman;
  font-size: 15px;
  margin-top: 20px;
}

.submit {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px; 
  border-color: black;
  margin-left: 35%;
  size: 60px;
  font-size: 15px;
  font-family: Times New Roman;
  border-radius: 6px;

}

.submit a{
  text-decoration: none;
  color: black;
}
.submit:hover ,input[type="submit"]:hover{
    border-color: #5baaaf;
    background-color: rgb(7, 105, 138);
    color: white;
}

input[type="submit"]{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px; 
  border-color: black;
  margin-left: 45%;
  size: 90px;
  font-size: 20px;
  font-family: Times New Roman;
  border-radius: 6px;
}




}