*{
	margin: 0;
	padding: 0;
}

header{
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }


  .navbar{
    background-color: #f0f8ff;
    overflow: hidden;
  }
  
  
  .logo{
    margin-left:2px;
    padding: 4px 6px;
  }
  
  .navbar a{
    margin-right: 20px;
    float: right;
    color:rgba(76, 56, 112, 0.822);
    text-align: center;
    padding: 14px 6px;
    text-decoration: none;
    text-transform: uppercase;  
    font-size: 17px;
  }
  .navbar a:hover{
    background-color: black;
  
  }
  
  

      .bg-img {
        /* The image used */
        background-image: url(../image/informDoctor.jpg);
      
        min-height: 300px;
        min-width: 860px;
      
        /* Center and scale the image nicely */
      background-repeat: no-repeat;
        background-size: 1600px 550px;
      
        /* Needed to position the navbar */
        position: relative;
      }
      
      /* Position the navbar container inside the image */
    
      /* The navbar */
      .topnav {
        overflow: hidden;
        background-color: #333;
      }
      
      /* Navbar links */
      .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        text-transform: uppercase;
      }
      
      .topnav a:hover {
        background-color: #ddd;
        color: black;
      }

    
      
      .topnav:hover {
        -ms-transform: scale(1.5);
        -webkit-transform: scale(1.5); 
        transform: scale(1.1); 
      }
    
      * {
        box-sizing: border-box;
      }
      
      body {
        font-family: Arial, Helvetica, sans-serif;
      }
      
      /* Float four columns side by side */
      .column {
        float: left;
        width: 25%;
        padding: 0 10px;
      }
      
      /* Remove extra left and right margins, due to padding in columns */
      .row {margin: 0 -5px;}
      
      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
      
      /* Style the counter cards */
      .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
        padding: 16px;
        text-align: center;
        transition: transform .2s;
        background-color: #f1f1f1;
      }
     
      /* Responsive columns - one column layout (vertical) on small screens */
      @media screen and (max-width: 600px) {
        .column {
          width: 100%;
          display: block;
          margin-bottom: 20px;
        }
      }

      .card {
        /* Add shadows to create the "card" effect */
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
      }
      
      /* On mouse-over, add a deeper shadow */
      .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        transform: scale(1.1);
      }
      
      /* Add some padding inside the card container */
      .container1 {
        padding: 2px 16px;
      }


      .card {
        box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
        transition: 0.3s;
        border-radius: 5px; /* 5px rounded corners */
      }
      
      /* Add rounded corners to the top left and the top right corner of the image */
      img {
        border-radius: 5px 5px 0 0;
      }
  

     


      /* Style all font awesome icons */

      .fa {
        
        font-size: 17px;
        width: 18px;
        text-align: center;
        text-decoration: none;
      }
      
      /* Add a hover effect if you want */

      
      /* Set a specific color for each brand */
      
      
    
      

      .vertical-menu {
        width: 200px; /* Set a width if you like */
        height: 100%;
        width: 250px;
        margin-block-start:0px; 
        position: relative;
        z-index: 1;
        top: 0;
        left: 0;
        background-color:transparent;
        overflow-x: hidden;
        padding-top: 20px;
      
      }
      

      .vertical-menu a {
        background-color: transparent; /* Grey background color */
        color: wheat; /* Black text color */
        display: block; /* Make the links appear below each other */
        padding: 12px; /* Add some padding */
        text-decoration: none; /* Remove underline from links */
        border-radius: 0 25px 25px 0;
      }
      
      .vertical-menu a:hover {
        background-color: #b4b4b43a; /* Dark grey background on mouse-over */
      color: #333;
  
      }
      
      .vertical-menu a.active {
        background-color: rgb(205, 214, 206); /* Add a green color to the "active/current" link */
        color: white;
      }
      nav {
        width: 80%;
        margin: 0 auto;
        background:transparent;
        padding: 4px 0;
        float: right;
        box-shadow: 0px 5px 0px #dedede;
      }
      nav ul {
        list-style: none;
        text-align: right;
      }
      nav ul li {
        display: inline-block;
       
      }
      nav ul li a {
        display: block;
        padding: 12px;
        text-decoration: none;
        color: #aaa;
        font-weight: 80;
        float :right;
        text-transform: uppercase;
        margin: 0 10px;
      }
      nav ul li a,
      nav ul li a:after,
      nav ul li a:before,.dropbtn:hover{
        transition: all .5s;
      }
      nav ul li a:hover ,.dropbtn:hover{
        color: #white;
      }

      
      nav.fill ul li a,.dropbtn:hover {
        transition: all 1.5s;
      }
      
      nav.fill ul li a:after ,.dropbtn:hover{
        text-align: left;
      
        margin: 0;
        opacity: 0;
      }
      nav.fill ul li a:hover,.dropbtn:hover {
        color: rgb(230, 62, 62);
        z-index: 1;
      }
      nav.fill ul li a:hover:after,.dropbtn:hover {
        z-index: -10;
        animation: fill 1s forwards;
        -webkit-animation: fill 1s forwards;
        -moz-animation: fill 1s forwards;
        opacity: 1;
      }