*{
      margin: 0;
      padding: 0;
}

header{
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }

header{
  }
  
  body {
    font-family: Times New Roman;
  }
  .logo h1{
    font-weight: 600;
    font-family: Times New Roman;
    font-size: 38px;
    color: #255C45;
    font-style: bold;
    text-align: center;
    padding-top: 30px;
  }
.login-box{
  width :45%;
  text-align: center;
  border-radius: 10px;
  border-color: #888888;

}
.cointainer1{
  padding-top: 60px;
  padding-left: 530px;
}
.login-word{
  color:#615E5E;
  font:30px sofia-pro-light;
  background: #ffffff;
  margin: 0 0 0 -3px;
  padding: 0px 15px;

}

.cointainer1{
    width: 70%;
    margin-left: 1s%;

}


.container{
  color: #343434;
  font:20px sofia-pro-light;
  margin: 30px 30px 30px 30px;

}
.container p{
  color: #343434;
  font:20px sofia-pro-light;
  margin: 30px 30px 30px 30px;

}

input[type="text"], input[type="password"] {

  margin-top: 10px;
  border-color: none;
  
  padding: 15px 20px;
  text-align: left;
  width: 80%;
  text-decoration: none;
  
  font-size: 16px;

}
input[type="text"]:hover, input[type="password"]:hover {

  margin-top: 10px;
  border-color: none;
  
  padding: 15px 20px;
  text-align: left;
  width: 80%;
  text-decoration: none;
  
  font-size: 16px;

}

::placeholder{

  color:black;
  font-size: 18px;  

}

.submit
{
  margin-top: 10px;
border-radius: 10px;
  background-color: #3FAE49;
  color: white;
  padding: 15px 20px;
  text-align: center;
  width: 92%;
  text-decoration: none;
  display: inline-block;
  font-size: 19px;
  cursor: pointer;

}

.submit:hover
{
  margin-top: 10px;
  border-color:#3F4E2F;

  background-color: green;
  color: white;
  padding: 15px 20px;
  text-align: center;
  width: 92%;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  cursor: pointer;

}

a{
  color: #7F9CD1;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
}




.login {
  margin-top: 10px;
  margin-left: 8%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (max-width: 1250px){


.logo h1{
    font-weight: 600;
    font-family: Times New Roman;
    font-size: 38px;
    color: #255C45;
    font-style: bold;
    padding-top: 30px;
  }

.login-box{
  width: 80%;

}



.cointainer1{
    width: 50%;
    margin-left: -16%;

}







}









@media screen and (max-width: 640px){


.logo h1{
    font-weight: 600;
    font-family: Times New Roman;
    font-size: 38px;
    color: #255C45;
    font-style: bold;
    padding-top: 30px;
  }


.login-box{
  width: 100%;

}

.cointainer1{
    width: 70%;
    margin-left: -90%;

}

