
*{
  margin: 0;
  padding: 0;
}

header{
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }

  .navbar{
    background-color: #f0f8ff;
    overflow: hidden;
  }
  
  
  .logo{
    margin-left:2px;
    padding: 4px 6px;
  }
  
  .navbar a{
    margin-right: 20px;
    float: right;
    color:rgba(76, 56, 112, 0.822);
    text-align: center;
    padding: 14px 6px;
    text-decoration: none;
    font-size: 17px;
  }
  .navbar a:hover{
    background-color:black;
  }
  element.style {
    width: 100%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}
.vc_row.vc_row-flex {
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.vc_custom_1549386094916 {
    padding-right: 50px !important;
    padding-bottom: 100px !important;
    padding-left: 50px !important;
    background-color: #ffffff !important;
    border-radius: 10px !important;
}
.vc_row {
    margin-left: -15px;
    margin-right: -15px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}

.vc_row.vc_row-flex::after, .vc_row.vc_row-flex::before {
    display: none;
}
.vc_row:after, .vc_row:before {
    content: " ";
    display: table;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.vc_row.vc_row-flex::after, .vc_row.vc_row-flex::before {
    display: none;
}
.vc_row:after {
    clear: both;
}
.vc_row:after, .vc_row:before {
    content: " ";
    display: table;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
::selection {
    background-color: #47c9e5!important;
    color: #fff;
}
::selection {
    background-color: #47c9e5!important;
    color: #fff;
}
.copy{
    background-color: #E4FFFF;
}
* {box-sizing: border-box}

.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
     * {
        box-sizing: border-box;
      }
      
      body {
        font-family: Arial, Helvetica, sans-serif;
      }
    
      /* Add some padding inside the card container */
   

      
      /* Add rounded corners to the top left and the top right corner of the image */
      img {
        border-radius: 5px 5px 0 0;
      }
  

   awesome icons */

      .fa {
        
        font-size: 17px;
        width: 18px;
        text-align: center;
        text-decoration: none;
      }
      
      /* Add a hover effect if you want */

      
      /* Set a specific color for each brand */
      
      /* Facebook */
      .fa-facebook {
        background: #3B5998;
        color: white;
      }
      
      /* Twitter */
      .fa-twitter {
        background: #55ACEE;
        color: white;
      }
      .fa-instagram {
        background: rgb(233, 41, 175);
        color: white;
      }
  

      

      nav {
        width: 80%;
        margin: 0 auto;
        background:transparent;
        padding: 4px 0;
        float: right;
        box-shadow: 0px 5px 0px #dedede;
      }
      nav ul {
        list-style: none;
        text-align: right;
      }
      nav ul li {
        display: inline-block;
       
      }
      nav ul li a {
        display: block;
        padding: 12px;
        text-decoration: none;
        color: #aaa;
        font-weight: 80;
        float :right;
        text-transform: uppercase;
        margin: 0 10px;
      }
      nav ul li a,
      nav ul li a:after,
      nav ul li a:before,.dropbtn:hover{
        transition: all .5s;
      }
      nav ul li a:hover ,.dropbtn:hover{
        color: #white;
      }

      
      nav.fill ul li a,.dropbtn:hover {
        transition: all 1.5s;
      }
      
      nav.fill ul li a:after ,.dropbtn:hover{
        text-align: left;
      
        margin: 0;
        opacity: 0;
      }
      nav.fill ul li a:hover,.dropbtn:hover {
        color: rgb(230, 62, 62);
        z-index: 1;
      }
      nav.fill ul li a:hover:after,.dropbtn:hover {
        z-index: -10;
        animation: fill 1s forwards;
        -webkit-animation: fill 1s forwards;
        -moz-animation: fill 1s forwards;
        opacity: 1;
      }
      .pane{
  background-color: rgba(210, 235, 255, 0.479);
  }
.paneimage{
  height: 300px;

}
h2{

    font-family: "Roboto Condensed",Verdana,sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 1;
    margin: 0px 0px 10px;
    padding-top: 80px;
    padding-left: 20px;
    color: #333;
    padding-bottom: 40px;
}


li {
  text-align: -webkit-match-parent;
}
.module ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  
}

ul {
  list-style-type: georgian;
  
}
.module {
  font-size: 1rem;
  position: relative;
}
.pane1{
  background-color: rgba(255, 255, 255, 0.479);
  }
  .def_text{
    font-size: 20px;
    font-weight: 200
    text-align:left;
  padding-bottom: 90px;
  color: #5A5E5E;
  }


  p{

  font-family: "Source Sans Pro",Verdana,sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1;
  margin: 0px 0px 10px; 
  padding-left: 20px;
  color: #333;

}
.qq{
  font-family: "Source Sans Pro",Verdana,sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1;
  margin: 0px 0px 10px; 
  padding-left: 20px;
  color: #333;

}

.bgimg {
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  color: black;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
}



.middle {
  position: absolute;
  top: 50%;
  left: 48%;
  color: #255C45;
  transform: translate(-50%, -50%);
  text-align: center;

}

hr {
  margin: auto;
  width: 40%;
}

.footer{
  margin: 10px 0px 0px 0px;
  padding-bottom: 100px;
    background-color: #414141;
    height: 70px;
}
.footer p{
    text-align: center;
    padding-top: 30px; 
    color: black;
}




#myBtn {
/* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 50px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #839A9D; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 0px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

























@media screen and (max-width:1250px){

.fill{
        width: 100%;
  }







  .navbar{
    background-color: #f0f8ff;
    overflow: hidden;
  }
  
  
  .logo{
    margin-left:2px;
    padding: 4px 6px;
  }
  
  .navbar a{
    margin-right: 2px;
    float: right;
    color:rgba(76, 56, 112, 0.822);
    text-align: center;
    padding: 14px 3px;
    text-decoration: none;
    font-size: 13px;
  }

  .navbar a:hover{
    background-color:black;
  }

  .mainimage{

    padding: 10px, 10px, 10px, 10px;
  }

.slideshow-container{
        width:90%;
}





.caption h2{
    font-family: "Roboto Condensed",Verdana,sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 1;
    margin: 0px 0px 10px;

    padding-top: 15%;
    padding-left: 27px;
    color: #333;
    padding-bottom: 20px;


}

.caption p{

  font-family: "Source Sans Pro",Verdana,sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1;
  margin: 0px 0px 10px; 
  padding-left: 26px;
  color: #333;
}

.caption a{
  font-family: "Source Sans Pro",Verdana,sans-serif;
  font-size: 17px;
  font-weight: 300;
  line-height: 1;
  margin: 0px 0px 10px; 
  padding-left: 12px;
  color: #333;
}
#qq{
  padding-bottom: 20%;
}
.paneimage{
  margin-top: 20px;
  margin-left: 2%;
  margin-right: 2%;

  width: 50%;
  height: 50%;
}

.copy_box{
  width: 5%;
   
}

.copy_box_inner
{
  width: 50%; 
  margin-left: -50%;
  }

.eye_image{
  margin-top: -70%;
  margin-left: 120%;
}

.eye_text{
  margin-top: -50%;
  margin-left: 100%;
}


.eye_content{
  margin-top: -80%;
  padding-left: 40%;
  width: 230%;
  font-size: 19px;

}


.lab_image{
  margin-top: -40%;
  margin-left: 110%;
}

.lab_text{
  margin-top: -30%;
  margin-left: 100%;

}

.lab_content{
  margin-top: -80%;
  width: 210%;
  font-size: 19px;
  padding-left: 40%;

}

.cardio_image{
  margin-top: -55%;
  margin-left: 100%;
}

.cardio_text{
  margin-top: -40%;
  margin-left: 90%;

}

.cardio_content{
  margin-top: -80%;
  width: 210%;
  font-size: 19px;
  padding-left: 40%;

}


.ped_image{
  margin-top: -40%;
  margin-left: 60%;
}

.ped_text{
  margin-top: -30%;
  margin-left: 50%;

}

.ped_content{
  margin-top: -80%;
  width: 210%;
  font-size: 19px;
  padding-left: 40%;
}




.den_image{
  margin-top: 220%;
  margin-left: 60%;
}

.den_text{
  margin-top: -10%;
  margin-left: 50%;

}

.den_content{
  margin-top: -50%;
  width: 210%;
  font-size: 19px;


}


.radio_image{
  margin-top: -10%;
  margin-right: 200%;
}

.radio_text{
  margin-top: -10%;
  margin-left: 50%;

}

.radio_content{
  margin-top: -50%;
  width: 160%;
  font-size: 19px;

}















#myBtn {
/* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 20px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: 2px; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: grey; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 0px; /* Rounded corners */
  font-size: 18px;  /* Increase font size */
  opacity: 0.5;
}

#myBtn:hover {
  background-color: blue; /* Add a dark-grey background on hover */
  opacity: 5;
}








}










































@media screen and (max-width:640px){

.fill{
        width: 100%;
  }







  .navbar{
    background-color: #f0f8ff;
    overflow: hidden;
  }
  
  
  .logo{
    margin-left:2px;
    padding: 4px 6px;
  }
  
  .navbar a{
    margin-right: 2px;
    float: right;
    color:rgba(76, 56, 112, 0.822);
    text-align: center;
    padding: 14px 3px;
    text-decoration: none;
    font-size: 13px;
  }

  .navbar a:hover{
    background-color:black;
  }

  .mainimage{

    padding: 10px, 10px, 10px, 10px;
  }

.slideshow-container{
        width:90%;
}





.caption h2{
    font-family: "Roboto Condensed",Verdana,sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 1;
    margin: 0px 0px 10px;

    padding-top: 15%;
    padding-left: 27px;
    color: #333;
    padding-bottom: 20px;


}

.caption p{

  font-family: "Source Sans Pro",Verdana,sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1;
  margin: 0px 0px 10px; 
  padding-left: 26px;
  color: #333;
}

.caption a{
  font-family: "Source Sans Pro",Verdana,sans-serif;
  font-size: 17px;
  font-weight: 300;
  line-height: 1;
  margin: 0px 0px 10px; 
  padding-left: 12px;
  color: #333;
}
#qq{
  padding-bottom: 20%;
}
.paneimage{
  margin-top: 20px;
  margin-left: 2%;
  margin-right: 15%;

  width: 70%;
  height: 50%;
}

.copy_box{
  width: 5%;
   
}

.copy_box_inner
{
  width: 50%; 
  margin-left: -50%;
  }

.eye_image{
  margin-top: -70%;
  margin-left: 90%;
}

.eye_text{
  margin-top: -50%;
  margin-left: 70%;
}


.eye_content{
  margin-top: -80%;
  width: 210%;
  font-size: 19px;

}


.lab_image{
  margin-top: -50%;
  margin-left: 90%;
}

.lab_text{
  margin-top: -40%;
  margin-left: 70%;

}

.lab_content{
  margin-top: -80%;
  width: 210%;
  font-size: 19px;

}

.cardio_image{
  margin-top: -15%;
  margin-left: 60%;
}

.cardio_text{
  margin-top: -20%;
  margin-left: 50%;

}

.cardio_content{
  margin-top: -80%;
  width: 160%;
  font-size: 19px;

}


.ped_image{
  margin-top: -30%;
  margin-left: 60%;
}

.ped_text{
  margin-top: -20%;
  margin-left: 50%;

}

.ped_content{
  margin-top: -80%;
  width: 160%;
  font-size: 19px;

}


.den_image{
  margin-top: -10%;
  margin-left: 60%;
}

.den_text{
  margin-top: -10%;
  margin-left: 50%;

}

.den_content{
  margin-top: -50%;
  width: 160%;
  font-size: 19px;

}


.radio_image{
  margin-top: -10%;
  margin-left: 60%;
}

.radio_text{
  margin-top: -10%;
  margin-left: 50%;

}

.radio_content{
  margin-top: -50%;
  width: 160%;
  font-size: 19px;

}


#myBtn {
/* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 20px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: 2px; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: grey; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 0px; /* Rounded corners */
  font-size: 18px;  /* Increase font size */
  opacity: 0.5;
}

#myBtn:hover {
  background-color: blue; /* Add a dark-grey background on hover */
  opacity: 5;
}













}




